.selected[b-fs1xxde0df] {
    color: #adff2f;
    background-color: transparent;
    background-image: none;
    border-color: #adff2f;
}

    .selected:focus[b-fs1xxde0df] {
        color: white;
        background-color: #adff2f !important;
        border-color: #355E3B !important;
    }

    .selected:hover[b-fs1xxde0df] {
        background-color: #adff2f;
        color: white;
        border-color: #355E3B;
    }

    .selected:active[b-fs1xxde0df] {
        outline: none !important;
        box-shadow: none !important;
        border-color: #355E3B !important;
    }


.form-inline:active[b-fs1xxde0df] {
    outline: none !important;
    box-shadow: none !important;
    border-color: #355E3B !important;
}
.form-inline:hover[b-fs1xxde0df] {
    border-color: #355E3B !important;
}

.green:hover[b-fs1xxde0df] {
    background-image: none !important;
    background-color: #adff2f !important;
}
