@inherits LayoutComponentBase

<div class="page main_background">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth" id="sidebar_color">
            <LoginDisplay />
            <a class="nav_text_color" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="m-0">
            @Body
        </div>
    </div>
</div>
