@page
@model ForgotPasswordConfirmation
@inject IStringLocalizer<App> Localizer
@{
    ViewData["Title"] = @Localizer["Elfelejtett jelszó megerősítése"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Kérjük, ellenőrizze e-mailjét a jelszó visszaállításához."]
</p>

