@page
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<App> Localizer
@{
    ViewData["Title"] = @Localizer["Jelszó visszaállításának megerősítése"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["A jelszavad vissza lett állítva. Kérjük,"] <a asp-page="./Login"> @Localizer["kattintson ide a bejelentkezéshez"]</a>.
</p>
