@page
@model DownloadPersonalDataModel
@inject IStringLocalizer<App> Localizer
@{
    ViewData["Title"] = @Localizer["Töltse le adatait"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}