@page "/"

<div class="text-center home_title">
    <div class="text_color home_h1">Fault Manager application</div>
    <div class="text_color home_h2">Login to use the applitation's functions</div>
</div>
<div class="container">
    <div class="row justify-content-md-center box">
        <div class="col col-lg-5 text-center item_card item_color">
            <span class="oi oi-grid-three-up item_logo" aria-hidden="true"></span>
            <div class="home_h3">Control Panel</div>
            <div class="home_h4">You can make digital command to control the factory.</div>
        </div>
        <div class="col col-lg-5 text-center item_card item_color">
            <i class="fas fa-industry item_logo"></i>
            <div class="home_h3">Digital Factory</div>
            <div class="home_h4">You can monitor the container truck location in the factory.</div>
        </div>
    </div>
</div>

